<section class="relative overflow-hidden bg-white h-screen max-h-screen">
  <div class="absolute inset-0">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-primary-600"></div>
  </div>
  <div class="absolute top-0 left-0 -translate-x-[60%] -translate-y-[75%] z-10">
    <div class="border-[8px] border-white rounded-full w-80 h-80 opacity-20"></div>
  </div>
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5 h-screen">
    <div class="relative self-stretch px-4 py-16 overflow-hidden bg-primary-600 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24">
      <div class="absolute bottom-0 right-0 translate-x-[25%] translate-y-[75%]">
        <div class="border-[8px] border-white rounded-full w-96 h-96 opacity-20 lg:opacity-100"></div>
      </div>

      <div class="relative flex flex-col justify-between h-full max-w-lg mx-auto lg:mr-auto lg:max-w-md">
        <div class="flex-1">
          <h2 class="text-4xl font-semibold tracking-tighter text-white sm:text-5xl xl:text-6xl">Welcome to our community</h2>
          <p class="mt-4 text-base font-normal leading-7 text-primary-300 lg:text-lg lg:mt-6 lg:leading-8">Clarity gives you the blocks & components you need to create a truly professional website.</p>
        </div>

        <div class="mt-12 lg:mt-0">
          <div class="flex items-center">
            <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
            </svg>
            <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
            </svg>
            <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
            </svg>
            <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
            </svg>
            <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
            </svg>
          </div>
          <blockquote class="mt-8">
            <p class="text-xl font-normal text-white">"We love Landingfolio! Our designers were using it for their projects, so we already knew what kind of design they want."</p>
          </blockquote>
          <div class="flex items-center mt-6">
            <img class="object-cover rounded-full w-11 h-11 shrink-0" src="https://landingfoliocom.imgix.net/store/collection/saasui/images/sign-in/3/avatar-male.png" alt="" />
            <div class="ml-4">
              <p class="text-base font-semibold text-white">Devon Lane</p>
              <p class="text-sm font-normal text-gray-300">Co-Founder, Design.co</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 py-16 bg-white sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto xl:max-w-xl">
        <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Join Clarity</h2>
        <p class="mt-4 text-base font-normal leading-7 text-gray-600 lg:text-lg lg:mt-6 lg:leading-8">Clarity gives you the blocks and components you need to create a truly professional website.</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { honeypot: true, class: "mt-8" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="space-y-5">
            <div>
              <% prefilled_email = params[:email].present? ? params[:email] : '' %>
              <%= f.label :email, class: "text-base font-medium text-gray-900" %>
              <div class="mt-2">
                <%= f.email_field :email, class: "block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 rounded-xl focus:outline-none focus:border-primary-600 focus:ring-1 focus:ring-primary-600", placeholder: "Email address", required: true, autocomplete: "email", value: prefilled_email %>
              </div>
            </div>

            <div>
              <% prefilled_username = params[:username].present? ? params[:username] : '' %>
              <%= f.label :username, class: "text-base font-medium text-gray-900" %>
              <div class="mt-2">
                <%= f.text_field :username, class: "block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 rounded-xl focus:outline-none focus:border-primary-600 focus:ring-1 focus:ring-primary-600", placeholder: "Username", required: true, autocomplete: "username", value: prefilled_username %>
              </div>
            </div>

            <div>
              <%= f.label :password, class: "text-base font-medium text-gray-900" %>
              <div class="mt-2">
                <%= f.password_field :password, class: "block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 rounded-xl focus:outline-none focus:border-primary-600 focus:ring-1 focus:ring-primary-600", placeholder: "Password", required: true, autocomplete: "new-password" %>
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="relative flex items-start">
                <div class="flex items-center h-5">
                  <%= f.checkbox :agree_to_terms, class: "w-4 h-4 text-primary-600 border border-gray-200 rounded-md focus:outline-none focus:ring-1 focus:ring-primary-600" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= f.label :agree_to_terms, class: "text-sm font-normal text-gray-700" do %>
                    I agree with the <%= link_to "Terms & Conditions", "#", class: "text-primary-600 hover:underline" %> of Clarity
                  <% end %>
                </div>
              </div>

              <%= link_to "Forgot password?", new_user_password_path, class: "text-sm font-normal text-primary-600 hover:underline" %>
            </div>
          </div>
          <div class="mt-6">
            <button type="submit" data-turbo="false"
                                  class="inline-flex items-center justify-center px-12 py-4 text-base font-medium text-white transition-all duration-200 bg-primary-600 border border-transparent rounded-xl hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-700"
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 transition ease-in-out duration-150" fill="white" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
              </span>
              Sign up
            </button>
          </div>
        <% end %>

        <p class="mt-6 text-sm font-normal text-gray-500">Already have an account? <%= link_to "Log in", user_session_path, class: "text-sm font-semibold text-primary-600 hover:underline" %></p>
      </div>
    </div>
  </div>
</section>
