<% logo_path = current_user ? dashboard_index_path : root_path %>
<header dark:bg-primary-900" data-controller="header theme">
  <nav class="flex items-center justify-between flex-wrap">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <%= link_to logo_path, class: "flex items-center hover:opacity-80" do %>
        <%= image_tag "logo-darkmode", alt: "Dark Mode Secret Gardens Logo", class: "dark:flex hidden h-16 w-full" %>
        <%= image_tag "logo-lightmode", alt: "Light Mode Secret Gardens Logo", class: "flex dark:hidden h-16 w-full" %>
        <span class="sr-only"><%= I18n.t("#{Rails.application.credentials.company_name}") %></span>
      <% end %>
    </div>
    <div class="block sm:hidden">
      <button data-action="click->header#toggleMobileNav" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-primary-700">
        <span class="sr-only">Open main menu</span>
        <%= inline_svg_tag("icons/menu-dots.svg", class: nav_icon_classes) %>
      </button>
    </div>

    <div id="main-nav" class="w-full flex-grow sm:flex text-right sm:w-auto hidden" data-header-target="mainNav">
      <div class="text-sm sm:flex-grow">
        <%= link_to "#{I18n.t('header.menu.admin')}", admin_root_path, class: nav_link_classes('admin/dashboard') if current_user&.admin? %>
        <%= link_to "#{I18n.t('header.menu.blog')}", blog_posts_path, class: nav_link_classes('blog') %>
        <% if current_user %>
          <%= link_to "#{I18n.t('header.menu.dashboard')}", dashboard_index_path, class: nav_link_classes('dashboard') %>
          <%= link_to "#{I18n.t('header.menu.account')}", account_index_path, class: nav_link_classes('account') %>
          <%= link_to "#{I18n.t('header.menu.logout')}", logout_path, class: nav_link_classes, data: { turbo: false } %>
        <% else %>
          <%= link_to "#{I18n.t('header.menu.features')}", "#", class: nav_link_classes('features') %>
          <%= link_to "#{I18n.t('header.menu.contact')}", "mailto:#{Rails.application.credentials.admin_email}", target: '_blank', class: nav_link_classes('contact')  %>
          <%= link_to "#{I18n.t('header.menu.login')}", new_user_session_path, class: nav_link_classes('login') %>
          <%= link_to "#{I18n.t('header.menu.signup')}", new_user_registration_path, class: 'ml-8 whitespace-nowrap text-base font-medium inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-primary-600 hover:bg-primary-700' %>
        <% end %>
        <%= inline_svg_tag("icons/light-bulb.svg", class: nav_icon_classes, data: { action: "click->theme#toggle"}) %>
      </div>
    </div>
  </nav>
</header>

<!-- smooth scroll nav links -->
<script type="text/javascript">
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark')
  }
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
